body {
    background-color: #EAF6F6;
    color: #374151;
    font-family: Arial, sans-serif;
}

.principal{
    margin: 0 auto;
    width: 965px;
}

.subCaixa img {
    height: 300px;
    border: 1px solid black;
    float: left;
    margin: 10px 10px 0 0;
    padding: 20px;
    width: 50%;
}

.places{
    margin: 0 auto;
    width: 960px;
    display: inline-block;
}

.container {
  float: left;
  width: 660px;
}

.paragrafo {
    font-size: 20px;
}

.subCaixa {
    border-color: black;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #FFF;
    border: none;
    box-shadow: 0 2px 5px rgba(0 , 0, 0, 0.3);
    border-radius: 5px;
}

.subCaixa h2 {
    border-bottom: 1px dashed #1F2937; /*pontinhos no nome dos lugares*/
    margin: 0;

}

.subCaixa a {
    color: #2C88A7;
    font-weight: bold;
}

.container h1 {
    text-align: center;
    color: #1F2937;
    text-decoration: none;
    transition: 0.2s;

}

.container h1:hover {
    background-color: #14B8A6;
    color: #fff;
}

.subCaixa img{
    border: 2px solid #374151;
    float: left;
    margin: 10px 10px 0;
    pad: 2px;
    width: 50%;
    border-radius: 5px;
}
.clear {
    clear: both;
}

.caixinha{
    float: right;
    background-color: white;
    border: 1px solid #c9bc8f;
    padding: 10px;
    width: 260px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 2px 5px rgba(0 , 0, 0, 0.3);
}

.caixinha h3{
    font-size: 14px;
    margin-top: 0;
}

.caixinha ol{
    font-size: 12px;
}

.rodapé{
    text-align: center;
    padding: 5;
    background-color: #fcfcfc;
    color: black;
}

.navegador{
    text-align: center;
    padding: 2px;
}

.navegador a{
    color: white;
}

.navegador a:hover{
    color: #14B8A6;
}

.banner{
    background-color: #1F2937;
}

.banner img{
    margin: auto;
}
